*{
    margin: 0;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}
fieldset{
    border-color: black;
    padding: 30px;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
}
fieldset a{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
fieldset a.new{
    font-size: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
}
fieldset a.new:hover{
    color: white;
    background-color: black;
    border-radius: 20px;
}
fieldset form label{
    font-weight: bold;
}
fieldset form input{
    padding: 2px;
    margin: 5px;
    text-align: left;
}
fieldset form input:focus{
    background-color: bisque;
}
fieldset form input.enviar{
    background-color: bisque;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}
fieldset form input.enviar:hover{
    background-color: aliceblue;
    cursor: pointer;
}
div{
    color: red;
    font-weight: bold;
    text-align: center;
}
div.form{
    margin-top: 10px;
}
div.mensagem{
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}